<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Document</title>
    </head>
    <body>
        {% include 'header.html' %}
        <div>
            <p>
                <a href="#">学校概况</a>
                <a href="#">行政机构</a>
                <a href="#">二级学院</a>
                <a href="#">招生信息</a>
                <a href="#">就业创业</a>
            </p>
        </div>
        {% block content %} {% endblock %} {% include 'footer.html' %}
    </body>
</html>
